h1 {
    font-family: 'lucida sans';
    padding-top: 12px;
}
body {
    line-height: 1.1em;
    letter-spacing: 2px;
    background: linear-gradient(to right, #373b44, #4286f4);
    font-family: Poriet One;
    font-size: 1.1em;
}

.container {
    text-align: center;
}

form {
    padding: 30px;
    padding-bottom: 15px;
    width: 60%;
    border-radius: 10px;
    background:#ECF0F1;
    margin: 2% auto;
    position: relative;
  }